<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridgefy.samples.tic_tac_toe">


    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--this line is only for android-things compatibility-->
    <uses-library android:name="com.google.android.things"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

             <!--Uncomment to launch activity automatically on boot for android-things-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.IOT_LAUNCHER"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".MatchActivity"
            android:screenOrientation="portrait" />

        <!-- Bridgefy SDK key -->
        <meta-data
            android:name="com.bridgefy.sdk.API_KEY"
            android:value="47671d1a-af05-47a2-ac38-c40539700b78" />
    </application>
</manifest>