<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridgefy.samples.nearby">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--this line is only for android-things compatibility-->
    <uses-library android:name="com.google.android.things"/>

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="com.bridgefy.samples.nearby.DevicesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



            <!-- Uncomment to launch activity automatically on boot for android-things-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.IOT_LAUNCHER"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

        </activity>

        <!-- Bridgefy SDK key -->
        <meta-data
            android:name="com.bridgefy.sdk.API_KEY"
            android:value="b849372f-a817-4639-93fb-18c791facac4" />
    </application>

</manifest>